---
layout: main
title: About
permalink: /about/
order: 2
---

<section class="mission">
    <h3>“Нашата мисия е да съчетаваме активността с най-чистите природни съставки, за да ти
        помогнем да постигнеш една здравословна трансформация отвътре навън”</h3>
    <blockquote>
                {% include blockquote.html %}
    </blockquote>

    <div class="my_photo">
        <div class="my_info">
            <img src="{{ site.baseurl }}/images/CTO.jpg" alt="">
            <p class="author">Mihail Gospodinov</p>
            <p class="author">Co-Founder</p>
        </div>
         <div class="my_info">
            <img src="{{ site.baseurl }}/images/mihail.jpg" alt="">
            <p class="author">Mihail Gospodinov</p>
            <p class="author">Founder</p>
        </div>
         <div class="my_info">
            <img src="{{ site.baseurl }}/images/ceo.jpg" alt="">
            <p class="author">Mihail Gospodinov</p>
            <p class="author">Co-Founder</p>
        </div>
    </div>
</section>
<div class="tren">
    <h3>Нашите тренери</h3>
</div>

<div class="trenery">
        <div class="my_trener">
        <div class="img">
            <img src="{{ site.baseurl }}/images/fitnes1.jpg" alt="">
        </div>
        <p class="author">Ивайла Иванова</p>
        <p class="author">Tae Bo</p>
    </div>
    <div class="my_trener">
        <div class="img">
            <img src="{{ site.baseurl }}/images/fitnes2.jpg" alt="">
        </div>
        <p class="author">Румяна Динева</p>
        <p class="author">Аеробика</p>
    </div>
    <div class="my_trener">
        <div class="img">
            <img src="{{ site.baseurl }}/images/fitnes3.jpg" alt="">
        </div>
        <p class="author">Марио</p>
        <p class="author">Фитнес инструктор</p>
    </div>
    <div class="my_trener">
        <div class="img">
            <img src="{{ site.baseurl }}/images/fitnes4.jpg" alt="">
        </div>
        <p class="author">Георги Георгиев</p>
        <p class="author">Диети и Хранене</p>
    </div>
</div>

<div class="info_trenery">
    {% include info_about.html %}   
</div>



