<div class="site-wrapper">
        <div class="info">
            <p>My Sport &copy; All rights reserved!</p>
        </div>
                
        <ul class="social footer">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-medium"></i></a></li>
            <li><a href="#"><i class="fab fa-quora"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
        </ul>
</div>
