 <ul class="gallery">
           <li class="portrait">
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/media_fitnes6.jpg" alt="">
               </a>
           </li>
           <li class="portrait">
               <p>Запозанай се с мен</p>
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/media_fitnes4.jpg" alt="">
               </a>
           </li>
           <li class="landscape">
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/health-improvement.jpg" alt="">
               </a>
           </li>
           <li class="portrait">
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/media_fitnes3.jpg" alt="">
               </a>
           </li>
            <li class="landscape">
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/media_fitnes1.jpg" alt="">
               </a>
           </li>
            <li class="portrait">
               <a href="">
                    <img
                    src="{{ site.baseurl }}/images/media_fitnes2.jpg" alt="">
               </a>
           </li>

        </ul>


