<div class="ivaila">
        <h5>Ивайла Иванова</h5>
        <blockquote>
           <p> На 24 години съм, от Пловдив, завършила съм НСА специалност -Гимнастика.
            Със спорт се заминавам от 10 годишна, печелила съм много отличия и награди.
            Най-много обичам да работя с хората, да слушам музика и да помагам на другите да
            открият удоволствието от спорта.</p> 
        </blockquote>
    </div>
    <div class="rumi">
        <h5>Румяна Динева</h5>
        <blockquote>
           <p>На 22 години съм, от Шумен, все още Уча в УНСС.
            Аеробиката е в кръвта ми, занимавам се основно с Народни танци от 5 годишна.
            Аеробиката ми помага да подържам фигурата си великолепно и да се храня с любимите ми
            храни. Обичам планината и морето.</p>
        </blockquote>
    </div>
    <div class="mario">
        <h5> Марио</h5>
        <blockquote>
           <p>Известен съм от телевизията, но Хобито ми е FItnesa, разрааботил съм собственна
            програма за хрнаителен режим и съм помогнал на много хора да се почувстват
            властни над тялото си. Обичам работата си и прекарвам по 12 часа във фитнеса.
            Харесвам също колите и високите скорости.</p>
        </blockquote>
    </div>
    <div class="georgi">
        <h5>Георги Георгиев</h5>
        <blockquote>
           <p>От София съм , на 29 години. През повечето време съм живял в Америка. От 4 години се
            върхан в България, Хобито ми е спорт. По професия съм програмист Front-End, но
            интернета ми дава възможност да работя където си поискам. Успях да преоткрия себе
            си и съм много щастлив защото помагам на хората.</p>
        </blockquote>
    </div>

