 <ul>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_one/">Здравословно хранене – Кои храни са вредни и кои са полезни</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_two/">Тренировки у дома – Промяната на една домакиня</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_three/">Инфографика: най-добрата диета за бързо отслабване</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_four/">Всичко за детокса: Как да пречистим организма си?</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage1/">Идивидаулни консултации</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage2/">Хранителни програми</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage3/">Идивидуални тренировки</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage4/">Групови занимания</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_one/">Здравословно хранене – Кои храни са вредни и кои са полезни</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_two/">Тренировки у дома – Промяната на една домакиня</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_three/">Инфографика: най-добрата диета за бързо отслабване</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_four/">Всичко за детокса: Как да пречистим организма си?</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage1/">Идивидаулни консултации</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage2/">Хранителни програми</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage3/">Идивидуални тренировки</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage4/">Групови занимания</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_one/">Здравословно хранене – Кои храни са вредни и кои са полезни</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_two/">Тренировки у дома – Промяната на една домакиня</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_three/">Инфографика: най-добрата диета за бързо отслабване</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/site_four/">Всичко за детокса: Как да пречистим организма си?</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage1/">Идивидаулни консултации</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage2/">Хранителни програми</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage3/">Идивидуални тренировки</a></li>
        <li><i class="fas fa-arrow-right"></i><a href="{{ site.baseurl }}/pakage4/">Групови занимания</a></li>

 </ul>

