 <div class="pages left">
        <div class="text">
            <p>Lorem ipsum rerum amet quia facilis? Pariatur quod impedit nobis optio sequi!
                Voluptatum qui fugiat exercitationem accusamus commodi Laboriosam itaque quidem
                blanditiis itaque voluptatem minima temporibus? Iste itaque debitis
                dicta.<span><a href="https://softuni.bg/trainings/2543/css-advanced-november-2019#lesson-13329">Read more</a></span></p>
        </div>
        <div class="media">
            <div class="photo">
            <img src="https://images.unsplash.com/photo-1574853696045-072dfcdeef1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
        </div>
    </div>
     <div class="pages right">
          <div class="media">
            <div class="photo">
            <img src="https://images.unsplash.com/photo-1574853696045-072dfcdeef1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
          </div>

        <div class="text">
             <p>Lorem ipsum rerum amet quia facilis? Pariatur quod impedit nobis optio sequi!
                Voluptatum qui fugiat exercitationem accusamus commodi Laboriosam itaque quidem
                blanditiis itaque voluptatem minima temporibus? Iste itaque debitis
                dicta.<span><a href="https://softuni.bg/trainings/2543/css-advanced-november-2019#lesson-13329">Read more</a></span></p>
        </div>
     </div>
    </div>
     <div class="pages left">
        <div class="text">
             <p>Lorem ipsum rerum amet quia facilis? Pariatur quod impedit nobis optio sequi!
                Voluptatum qui fugiat exercitationem accusamus commodi Laboriosam itaque quidem
                blanditiis itaque voluptatem minima temporibus? Iste itaque debitis
                dicta.<span><a href="https://softuni.bg/trainings/2543/css-advanced-november-2019#lesson-13329">Read more</a></span></p>
        </div>
        <div class="media">
            <div class="photo">
            <img src="https://images.unsplash.com/photo-1574853696045-072dfcdeef1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
        </div>
    </div>
     <div class="pages right">
          <div class="media">
            <div class="photo">
            <img src="https://images.unsplash.com/photo-1574853696045-072dfcdeef1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
          </div>

        <div class="text">
            <p>Lorem ipsum rerum amet quia facilis? Pariatur quod impedit nobis optio sequi!
                Voluptatum qui fugiat exercitationem accusamus commodi Laboriosam itaque quidem
                blanditiis itaque voluptatem minima temporibus? Iste itaque debitis
                dicta.<span><a href="https://softuni.bg/trainings/2543/css-advanced-november-2019#lesson-13329">Read more</a></span></p>
        </div>
     </div>
    </div>

