<div class="story-info">
    <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Mendy.jpg" alt="">
        </div>
    </div>
    <div class="personal-info right">
        <h5>Mendy Gauss</h5>
        <p>31 години</p>
        <p>2 пъти седмично</p>
        <p>14 kg изгубени</p>
        <p class="italic">"Много е приятно когато мъжете се заглеждат по теб, а и дрехите ми
            стоят доста добре."</p>

    </div>
</div>
<div class="story-info">
    <div class="personal-info">
        <h5>Mani Smit</h5>
        <p>29 години</p>
        <p>3 пъти седмично</p>
        <p>24 kg изгубени</p>
        <p class="italic">"От застоялото ежедневие, съвсем бях изгубил самочувствеи
            какво е да си строен и да ми е комфортно."</p>

    </div>
    <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Mani.jpg" alt="">
        </div>
    </div>
</div>

<div class="story-info">
    <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Andy.jpg" alt="">
        </div>
    </div>
    <div class="personal-info right">
        <h5>Andy Andy</h5>
        <p>44 години</p>
        <p>3 пъти седмично</p>
        <p>9 kg изгубени</p>
        <p class="italic">"Няма невъзможни неща, дори и сега съм способен да се преборя с
            повечето предизвикателства от младите."</p>

    </div>
</div>
<div class="story-info">
    <div class="personal-info">
        <h5>Zoy Gatt</h5>
        <p>34 години</p>
        <p>3 пъти седмично</p>
        <p>21 kg изгубени</p>
        <p class="italic">"Няма невъзможни неща, дори и сега съм способен да се преборя с
            повечето предизвикателства от младите."</p>

    </div>
    <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Zoy.jpg" alt="">
        </div>
    </div>
</div>

<div class="story-info">
     <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Teresa.jpg" alt="">
        </div>
    </div>

    <div class="personal-info right">
        <h5>Teresa Zammit</h5>
        <p>26 години</p>
        <p>3 пъти седмично</p>
        <p>18 kg изгубени</p>
        <p class="italic">"Чувствам се невероятно, не мога да повярвам какво удоволствие изпитвам като се
            погледна в огледалото."</p>

    </div>
</div>

<div class="story-info">
    <div class="personal-info">
        <h5>Josephin Burg</h5>
        <p>28 години</p>
        <p>3 пъти седмично</p>
        <p>12 kg изгубени</p>
        <p class="italic">"Роклите полепнали по тялото ми , бяха като торба, не смеех да се
            покажа на улицата, сега вие преценете."</p>

    </div>
    <div class="ar-box">
        <div class="inner">        
            <img src="{{ site.baseurl }}/images/before-and-after-Josephin.jpg" alt="">
        </div>
    </div>
</div>


