<section class="video video1">
    <div class="container">
        <div class="image-video">
            <img src="{{ site.baseurl }}/images/video1.jpg" alt="">
        </div>
    </div>
        <div class="text-video">
            <h3>Над 500 безплатни видео тренировки с нови тренировки, пуснати всяка
                седмица.</h3>
            
            <p>Вярваме, че фитнесът трябва да е достъпен за всички, навсякъде, независимо от доходите или достъпа до фитнес зала. Ето защо ние предлагаме стотици безплатни, професионално изградени видео тренировки за всяко ниво на фитнес и цел.</p>

            <a href="{{ site.baseurl}}/packages/">Вижте всички наши видеоклипове за тренировки</a>
        </div>
    
</section>
<section class="video video2">
        <div class="text-video">
            <h3>Намерете подкрепа и насърчение от най-позитивната общност в мрежата.</h3>
            
            <p>Нашият форум на общността е чудесно място за споделяне на полезна информация за тренировки и хранене и да се развеселим взаимно. Споделете съвети, предизвикателства и триумфи, резултати и напредък с членове на Fitness Blender от цял свят.</p>

            <a href="{{ site.baseurl}}/packages/">Вижте последните дискусии в общността</a>
        </div>
    <div class="container">
        <div class="image-video">
            <img src="{{ site.baseurl }}/images/video2.jpg" alt="">
        </div>
    </div>

    
</section>
<section class="video video3">
     <div class="container">
        <div class="image-video">
            <img src="{{ site.baseurl }}/images/video3.jpg" alt="">
        </div>
    </div>
        <div class="text-video">
            <h3>Персонализиран календар за управление на вашите програми и наблюдение на
                напредъка ви.</h3>
            
            <p>Регистрирайте се за безплатно членство и създайте своя собствена програма за тренировки, като използвате нашия онлайн календар за тренировки. Ще можете да планирате тренировките си, да добавяте нови програми, да проследявате тренировките си, да запазвате любимите си видеоклипове за тренировки и други.</p>

            <a href="{{ site.baseurl}}/packages/">Регистрирайте се за безплатен акаунт днес</a>
        </div>
    
</section>
<section class="video video4">
        <div class="text-video">
            <h3>Програми за тренировки по ваш собствен график. Попълнете тренировката си
                днес!</h3>
            
            <p>Подобрете вашето тяло, здраве и мислене с нашите персонализирани програми за тренировки и планове за хранене, които ще ви насочват и насърчават всяка стъпка от пътя. Нашите програми използват нашите видеоклипове за тренировки онлайн, за да предоставят подробни ежедневни инструкции, създавайки невероятни, устойчиви резултати.</p>

            <a href="{{ site.baseurl}}/packages/">Научете повече за нашите програми</a>
        </div>

    <div class="container">
        <div class="image-video">
            <img src="{{ site.baseurl }}/images/video4.jpg" alt="">
        </div>
    </div>

    
</section>

