.main-about {
    
    .h1-About {
        display: none;
    }

    .mission {
        padding: 2em;

        h3 {
            color: #3498db;
            text-align: center;
        }

        p {
            color: #666;
        }

        .my_photo {
            display: flex;
            justify-content: center;

            .my_info {
                padding: 0 2em;
            }
            
            img {
                border-radius: 50%;
                box-shadow: 0 0 1.5em 0 rgba(black, 0.7);
                width: 10em;
                height: 10em;
            }   

            p {
                text-align: center;
                padding-bottom: 0.2em;
            }
        }
    
    }

    .tren {
        display: block;
        text-align: center;
        color: #3498db;
    }

    .trenery {
       display: flex;
       justify-content: center;

       .my_trener {
           padding: 1em;

           p {
               text-align: center;
               padding-bottom: 0.3em;
               color: #666;
           }
       }
       
       img {
           width: 10em;
           height: 15em;
           border-radius: 0.5em;
           box-shadow: 0 0 1.5em 0 rgba(black, 0.7);
       }
      
   }

   .info_trenery {
       padding: 2em;

       h5 {
        padding-left: 2em;
        color: #3498db;
       }
   }
}
