.main-stories {

    padding-top: 2em;
    
    .h1-Stories {
        display: none;
    }

    .main-folder ul {
        display: flex;
        justify-content: center;
        
        li {
        display: block;
        margin: 0 0.7em;
        transition: all 1s;


            a {
                display: flex;
                padding: 0.5em 1em;
                background: #3498db;
                color: #000;
                text-decoration: none;
                opacity: 0.7;
                border-radius: 0.3em;
            }
            &:hover {
                transform: scale(1.3);
            }    
        }
    }
}

