html {
    font-size: var(--font-size, 18px);
    line-height: var(--font-line-height, 1.5);
    font-family: var(--font-family-main, Verdana, sans-serif);
}

body, button, input, select, option {
    font: inherit;
}

p, ul, ol {
    padding-bottom: var(--layout-padding-b, 1.5em);
}

ul, ol {
    paddin-left: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headings, var(--font-family-main));
}

h1 { font-size: 2.6em; }
h3 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid #000;
    font-family: var(--font-family-headings, var(--font-family-main));
    margin-bottom: var(--layout-padding-b, 1.5em);
}

blockquote p {
    font-style: italic;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}




