:root {

   --font-family-main: Georgia, serif; 
   --font-family-headings: Palatino Linotype, serif;

   --font-size: 18px;
   --font-line-height: 1.5;
   
   --layout-width: 65em;
   --layout-padding-b: 2em;
}
