:root {

   --font-family-main: Georgia, serif; 
   --font-family-headings: Palatino Linotype, serif;

   --font-size: 18px;
   --font-line-height: 1.5;
   --font-line-height-phone: 1.2;
   --font-size-mobile: 10px;
   --font-size-tablet: 12px;
   --font-size-laptop: 14px;
   
   --layout-width: 65em;
   --layout-padding-b: 2em;
}
